/* common */
.clear {
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}
#header {
}
#header a:link.signOut{
  float: right;
}
#footer {
  height: 50px;
  text-align: center;
}
/* menu */
#manu-index {
  width: 540px;
  margin: 0 auto;
}
#select-men {
  display: block;
  float: left;
  /*background-color :#48b;*/
  background: -moz-linear-gradient(top, #ade, #48b);
  background: -webkit-gradient(linear, left top, left bottom, from(#ade), to(#48b));
  margin: 100px 10px;
  color: #fff;
}
#select-women {
  display: block;
  float: left;
  /*background-color :#f44;*/
  background: -moz-linear-gradient(top, #fa7, #f44);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa7), to(#f44));
  margin: 100px 10px;
  color: #fff;
}
.select-sex a:link{
  display: block;
  float: left;
  width: 250px;
  height: 250px;
  color: #fff;
}
/* interviews */
#interviews-menu{
  display: block;
  float: left;
  width: 200px;
  min-height: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, #fa7, #f44);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa7), to(#f44));
}
#interviews-check{
  display: block;
  float: left;
}
