/* common */
.clear {
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -25px;
  overflow: hidden !important;
  overflow: visible;
}
#header {
}
#header a:link.signOut{
  float: right;
}
#footer {
  height: 25px;
  text-align: center;
}
#settings-menu { 
  float: right;
  margin: 0 20px;
}
.title {
  font-weight: bold;
}
/* menu */
#manu-index {
  width: 540px;
  margin: 0 auto;
}
#select-men {
  display: block;
  float: left;
  /*background-color :#48b;*/
  background: -moz-linear-gradient(top, #ade, #48b);
  background: -webkit-gradient(linear, left top, left bottom, from(#ade), to(#48b));
  margin: 100px 10px;
  color: #fff;
}
#select-men a:hover{
  background: -moz-linear-gradient(top, #ade, #48b);
  background: -webkit-gradient(linear, left top, left bottom, from(#ade), to(#48b));
  color: #fff;
}
#select-women {
  display: block;
  float: left;
  /*background-color :#f44;*/
  background: -moz-linear-gradient(top, #fa7, #f44);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa7), to(#f44));
  margin: 100px 10px;
  color: #fff;
}
#select-women a:hover{
  background: -moz-linear-gradient(top, #fa7, #f44);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa7), to(#f44));
  color: #fff;
}
.select-sex a:link{
  display: block;
  float: left;
  width: 250px;
  height: 250px;
  color: #fff;
}
/* interviews */
#interviews-menu{
  display: block;
  float: left;
  width: 200px;
  min-height: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, #999, #666);
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999));
  padding-bottom: 32767px !important;  
  margin-bottom: -32767px !important;   
  padding-bottom: 0;  
  margin-bottom: 0;
  color: #fff;
}
#interviews-check{
  display: block;
  float: left;
}
#interviews-check-title {
  font-weight: bold;
  margin: 10px;
}
#interviews-check-list {
  margin-left: 10px;
}
#interviews-check-submit {
  float: left;
  margin: 10px;
}
