<div id="header">
  <% if params[:controller] == 'menu' %>
  <%= link_to(image_tag('title.jpg', :size => '280x100', :alt => 'cromos'),
              {:controller => :menu, :action => :index}) %>
  <%= link_to('settings', {:controller => :interviews, :action => :settings}, :id => 'settings-menu') %>
  <% end %>
  <%= link_to('Sign out', destroy_user_session_path, :class => 'signOut') if current_user%>
</div>
